<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/bower_components/Ionicons/css/ionicons.min.css">

    <link rel="stylesheet" href="~/Content/bower_components/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="~/Content/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Content/dist/css/skins/_all-skins.min.css">

    <link rel="stylesheet" href="~/Content/dist/css/skins/skin-blue.min.css">

    <link rel="stylesheet" href="~/Content/dist/css/skins/_all-skins.min.css">
   

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <header class="main-header">
        <!-- Logo -->
        <a href="index2.html" class="logo">
            <span class="logo-lg"><b>SCRUM TABLE</b></span>
        </a>
        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">         
            
        </nav>
    </header>

   
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                @RenderBody()
            </h1>
         
        </section>
        <!-- Main content -->
        <section class="content container-fluid">
            <!--------------------------
              | Your Page Content Here |
              -------------------------->
        </section>
        <!-- /.content -->
    
    <script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/dist/js/adminlte.min.js"></script>
    @RenderSection("backScript", false)



    @RenderSection("indexScript", false)
</body>
</html>